# Config file for automatic testing at travis-ci.org

language: python

python:
  - "3.4"
  - "3.3"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -r requirements.txt

# command to run tests, e.g. python setup.py test
# script: py.test tests
script: tox
