include AUTHORS.md
include CONTRIBUTING.md
include HISTORY.md
include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt

graft src
recursive-include *.md *.rst conf.py Makefile

prune docs/md

global-exclude __pycache__/*

global-exclude *.swp
global-exclude *.py[co]
